<div class="container">
  <h1 class="text-center">Create a new blog post</h1>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <!-- Title -->
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title"
        [class.is-invalid]="title.invalid && title.touched"
        [class.is-valid]="title.valid && title.touched"
      >
      <!-- Title condition -->
      <div class="invalid-feedback text-danger" *ngIf="title?.invalid && title?.touched">
        <div *ngIf="title?.errors?.['required']">Title is required.</div>
        <div *ngIf="title?.errors?.['maxlength']">Title should be less than 150 characters.</div>
        <div *ngIf="title?.errors?.['minlength']">Title should be more than 5 characters.</div>
      </div>
    </div>

    <!-- Category -->
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select
        class="form-select" id="category"
        formControlName="category"
        [class.is-invalid]="category.invalid && category.touched"
        [class.is-valid]="category.valid && category.touched"
      >
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
      <!-- Category condition -->
      <div class="invalid-feedback text-danger" *ngIf="category?.invalid && category?.touched">
        <div *ngIf="category?.errors?.['required']">Category is required.</div>
      </div>
    </div>


    <!-- Content -->
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea
        class="form-control" id="content"
        formControlName="content"
        [class.is-invalid]="content.invalid && content.touched"
        [class.is-valid]="content.valid && content.touched"
      ></textarea>
      <!-- Content condition -->
      <div class="invalid-feedback text-danger" *ngIf="content?.invalid && content?.touched">
        <div *ngIf="content?.errors?.['required']">Content is required.</div>
        <div *ngIf="content?.errors?.['maxlength']">Content should be less than 2500 characters.</div>
      </div>
    </div>

    <div class="d-flex justify-content-end gap-3">
      <button
        type="button"
        class="btn btn-outline-danger"
      >
        Cancel
      </button>

      <!-- Submit button -->
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="postForm.invalid"
      >
        Submit
      </button>
    </div>

  </form>
</div>
